
.col-sm-4{
	background-color: #5F9EA0;
	margin-top: 5%;
	border:  0.5px;
	margin-left: 50px;
	padding: 50px;

}
.col-sm-6{
	background-color: white;
	margin-top: 5%;
	padding-left: 10px;
	padding-right: 10px;

}
h4{
	color: white;
	padding: 8px;
	text-align: center;

}
.loginform{
/*	margin: 50px;*/
	border: solid 5px grey;
	width: 350px; 
	display: flex;
	justify-content: center;
	padding: 30px;
	margin-left: 280px;
	background-color:#EEE8AA;
}
.loginhere{
	padding: 20px;
}

/*index.php*/
